$color: #333;
$color-link: #00745e;
$color-meta: #888;
$color-border: #ccc;

$color-feed: #ff6600;
$color-strava: #fc4c02;
$color-instagram: #833ab4;
$color-twitter: #1da1f2;
$color-facebook: #3b5998;

$space: 1rem;

$bp-big: 600px;
