
<nav class="pagination">
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        {{ if .Paginator.HasPrev }}
        <span class="pagination__item pagination__item--prev">
            <a class="pagination__link" href="{{.Paginator.Prev.URL}}">
                <span class="pagination__arrow">←</span>Neuere Beiträge
            </a>
        </span>
        {{ end }}
        {{ if .Paginator.HasNext }}
        <span class="pagination__item pagination__item--next">
            <a class="pagination__link" href="{{.Paginator.Next.URL}}">
                Ältere Beiträge<span class="pagination__arrow">→</span>
            </a>
        </span>
        {{ end }}
    {{ end }}
</nav>
