<header class="post__header">
  <a href='{{ .Permalink }}' class="post__link">
    <h1 class="post__title">{{ .Title }}</h1>
  </a>
  <p class="post__meta">
    <span class="post__date">{{ .Date.Format "02.01.2006" }}</span>
    –
    {{ with .Params.categories }}
      <a class="post__category" href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a>
    {{ end}}
    –
    <a href="{{ .Permalink }}#disqus_thread" class="post__comment-count">Kommentare</a>
  </p>
  {{ with .Params.thumb }}
    <img src="{{ $.Permalink }}thumb.jpg" class="post__img">
  {{ end }}
</header>
