<section class="runs">
  <h2 class="runs__title">Ziele</h2>
  <ul class="runs__list">
    <li class="runs__run is-done">
      <span class="runs__distance">10<small>km:</small></span>
      <span class="runs__time">
        (<a
          href="https://www.strava.com/activities/196771669"
          title="Sportscheck Nachtlauf 2014"
        >44:22</a>)
      </span>
    </li>
    <li class="runs__run is-done">
      <span class="runs__distance">21<small>km:</small></span>
      <span class="runs__time">
        (<a
          href="https://www.strava.com/activities/779580060"
          title="Schloss Marienburg Marathon 2016"
        >1:44:03</a>)
      </span>
    </li>
    <li class="runs__run">
      <span class="runs__distance">42<small>km:</small></span>
    </li>
    <li class="runs__run">
      <span class="runs__distance">50<small>km:</small></span>
    </li>
    <li class="runs__run">
      <span class="runs__distance">70<small>km:</small></span>
    </li>
    <li class="runs__run">
      <span class="runs__distance">100<small>km:</small></span>
    </li>
    <!-- <li class="runs__run runs__run--longest">
      <span class="runs__distance">längster:</span>
      <span class="runs-time">
        <a
          href="https://www.strava.com/activities/799885368"
          title="Mein längster Lauf"
        >30<small>km</small></a>
      </span>
    </li> -->
  </ul>
</section>
